<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="log-out">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <brum-global-variable key="apiURL" value="{{apiURL}}"></brum-global-variable>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <iron-ajax
      id="postLogin"
      url="[[apiURL]]logout"
      method="post"
      on-response="logoutRedirect"
      content-type="application/json"
      handle-as="json">
    </iron-ajax>

    <iron-localstorage name="session-token"
      value="{{userSession}}"
    ></iron-localstorage>

    <brum-global-variable key="userData" value="{{userSession}}"></brum-global-variable>

    <div class="card">
      <div class="card-header">
        <div class="circle">?</div>
        <h1>¿Desea cerrar la sesión?</h1>
      </div>

      <paper-button raised class="logout-button" on-click="send">Cerrar Sesión</paper-button>
    </div>
  </template>

  <script>
    class Logout extends Polymer.Element {
      static get is() { return 'log-out'; }
      static get properties() {
        return {
          userSession: {
            type: Object,
          }
        };
      }
      send() {
        let body = {
          "email": this.userSession.email
        };
        this.$.postLogin.body = JSON.stringify(body);
        this.$.postLogin.headers['Authorization'] = 'Bearer ' + this.userSession.token;
        this.$.postLogin.generateRequest();
      }

      logoutRedirect() {
        this.userSession = null;
        this.set("route.path", "/log-in");
      }
    }

    window.customElements.define(Logout.is, Logout);
  </script>
</dom-module>
