<!-- estilos de componente log-in -->
<dom-module id="log-in-style">
  <template>
    <style>
    .container {
      margin-top: 6%;
      max-width: 40%;
      margin: 0 auto;
    }

    h1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 36px;
      color: black;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    a {
      margin-top: 20px;
      margin: 20%;
    }

    .form-signin {
      max-width: 55%;
      padding: 30px 38px 66px;
      margin: 0 auto;
    }

    .form-signin-heading {
      text-align:center;
      margin-bottom: 30px;
      font-family: "Roboto";
      font-size: 30px;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
    }

    .submit-button {
      color: white;
      background-color: var(--paper-indigo-500);
      margin-top: 8%;
      margin-bottom: 4%;
      margin-left: 38%;
    }
    .submit-button:hover {
      background-color: var(--paper-indigo-100);
      margin-top: 8%;
      margin-bottom: 4%;
      margin-left: 38%;
    }

    .colorgraph {
      height: 7px;
      border-top: 0;
      background: #c4e17f;
      border-radius: 5px;
      background-image: -webkit-linear-gradient(left, #cfe0e8, #cfe0e8 12.5%, #b7d7e8 12.5%, #b7d7e8 25%, #87bdd8 25%, #87bdd8 37.5%, #daebe8 37.5%, #daebe8 50%, #cfe0e8 50%, #cfe0e8 62.5%, #b7d7e8 62.5%, #b7d7e8 75%, #87bdd8 75%, #87bdd8 87.5%, #daebe8 87.5%, #daebe8);
      background-image: -moz-linear-gradient(left, #cfe0e8, #cfe0e8 12.5%, #b7d7e8 12.5%, #b7d7e8 25%, #87bdd8 25%, #87bdd8 37.5%, #daebe8 37.5%, #daebe8 50%, #cfe0e8 50%, #cfe0e8 62.5%, #b7d7e8 62.5%, #b7d7e8 75%, #87bdd8 75%, #87bdd8 87.5%, #daebe8 87.5%, #daebe8);
      background-image: -o-linear-gradient(left, #cfe0e8, #cfe0e8 12.5%, #b7d7e8 12.5%, #b7d7e8 25%, #87bdd8 25%, #87bdd8 37.5%, #daebe8 37.5%, #daebe8 50%, #cfe0e8 50%, #cfe0e8 62.5%, #b7d7e8 62.5%, #b7d7e8 75%, #87bdd8 75%, #87bdd8 87.5%, #daebe8 87.5%, #daebe8);
      background-image: linear-gradient(to right, #cfe0e8, #cfe0e8 12.5%, #b7d7e8 12.5%, #b7d7e8 25%, #87bdd8 25%, #87bdd8 37.5%, #daebe8 37.5%, #daebe8 50%, #cfe0e8 50%, #cfe0e8 62.5%, #b7d7e8 62.5%, #b7d7e8 75%, #87bdd8 75%, #87bdd8 87.5%, #daebe8 87.5%, #daebe8);
    }
    </style>
  </template>
</dom-module>
