<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="log-in.html">
<link rel="lazy-import" href="log-out.html">
<link rel="lazy-import" href="user-home.html">
<link rel="lazy-import" href="new-user.html">
<link rel="lazy-import" href="account-movs.html">
<link rel="lazy-import" href="view-404.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #64BEFF;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 65px;
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .title-img {
        width:205px;
        height:154px;
        margin-top:6px;
      }

      .header-separator {
        border-left: 2px solid rgba(0, 0, 0, 0.20);
        height: 30px;
        margin-left: 20px;
        margin-right: 20px;
      }

      .header-item {
        font-family: Roboto;
        font-style: normal;
        line-height: normal;
        font-size: 20px;
        color: #FFFFFF;
        text-decoration: none;
      }
    </style>

    <iron-localstorage name="session-token"
      value="{{userSession}}"
    ></iron-localstorage>

    <brum-global-variable key="userData" value="{{userSession}}"></brum-global-variable>
    <brum-global-variable key="apiURL" value="{{apiURL}}"></brum-global-variable>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <div main-title>
              <img src="https://s3.us-east-2.amazonaws.com/techu-rs/logo1.png" class="title-img">
            </div>
            <div hidden$="[[!userSession]]">
              <a name="user-home" class="header-item" href="[[rootPath]]user-home">Cuentas</a>
            </div>
            <div class="header-separator"></div>
            <div hidden$="[[userSession]]">
              <a name="log-in" class="header-item" href="[[rootPath]]log-in">Iniciar Sesión</a>
            </div>
            <div hidden$="[[!userSession]]">
              <a name="log-out" class="header-item" href="[[rootPath]]log-out">Cerrar Sesión</a>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view-404"
            role="main">
          <log-in name="log-in"></log-in>
          <log-out name="log-out"></log-out>
          <user-home name="user-home"></user-home>
          <new-user name="new-user"></new-user>
          <account-movs name="account-movs"></account-movs>
          <view-404 name="view-404"></view-404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          userSession: {
            type: Object,
            notify: true,
          },
          apiURL: {
            type: String,
            value: "http://localhost:3001/api-uruguay-mlab/v1/",
            notify: true,
          },
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'log-in';
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view-404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
