<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">


<link rel="import" href="shared-styles.html">
<link rel="import" href="log-in-style.html">

<dom-module id="new-user">
  <template>
    <style include="log-in-style">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <brum-global-variable key="apiURL" value="{{apiURL}}"></brum-global-variable>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <iron-ajax
      id="postLogin"
      url="[[apiURL]]users"
      method="post"
      last-response="{{newUserResp}}"
      content-type="application/json"
      handle-as="json">
    </iron-ajax>

    <brum-global-variable key="userData" value="{{userSession}}"></brum-global-variable>

    <div class="container">
      <h1 class="form-signin-heading">Registrarse</h1>
      <hr class="colorgraph"><br>
    		<div name="Register_Form" class="form-signin">
          <paper-input label="Nombre" value={{first_name::input}}></paper-input>
          <paper-input label="Apellido" value={{last_name::input}}></paper-input>
          <paper-input label="Correo Electrónico" value={{email::input}}></paper-input>
          <paper-input type="password" label="Contraseña" value={{password::input}}></paper-input>

          <paper-button raised class="submit-button" on-click="send">Confirmar</paper-button>
    		</div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NewUser extends Polymer.Element {
      static get is() { return 'new-user'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          newUserResp: {
            type: Object,
            observer: '_sessionChanged',
          },
          userSession: {
            type: Boolean,
            value: false
          },
        };
      }
      send() {
        let body = {
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "email" : this.email,
          "password" : this.password
        };
        this.$.postLogin.body = JSON.stringify(body);
        this.$.postLogin.generateRequest();
      }

      _sessionChanged(resp) {
        if (resp) {
          this.set("route.path", "/log-in");
        }
      }
    }

    window.customElements.define(NewUser.is, NewUser);
  </script>
</dom-module>
