<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 0 auto;
        width: 38%;
        height: 38%;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        display: inline-block;
        margin-left: 17%;
        color: #212121;
        font-size: 22px;
      }

      .container {
        margin-top: 6%;
        max-width: 40%;
        margin: 0 auto;
      }

      .form-signin {
        max-width: 55%;
        padding: 30px 38px 66px;
        margin: 0 auto;
      }

      .form-signin-heading {
        text-align:center;
        margin-bottom: 30px;
        font-family: "Roboto";
        font-size: 30px;
      }

      .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
      }

      .submit-button {
        color: white;
        background-color: var(--paper-indigo-500);
        margin-top: 8%;
        margin-left: 40.5%;
      }
      .submit-button:hover {
        background-color: var(--paper-indigo-100);
        margin-top: 8%;
        margin-left: 40.5%;
      }

      .colorgraph {
        height: 7px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(left, #cfe0e8, #cfe0e8 12.5%, #b7d7e8 12.5%, #b7d7e8 25%, #87bdd8 25%, #87bdd8 37.5%, #daebe8 37.5%, #daebe8 50%, #cfe0e8 50%, #cfe0e8 62.5%, #b7d7e8 62.5%, #b7d7e8 75%, #87bdd8 75%, #87bdd8 87.5%, #daebe8 87.5%, #daebe8);
        background-image: -moz-linear-gradient(left, #cfe0e8, #cfe0e8 12.5%, #b7d7e8 12.5%, #b7d7e8 25%, #87bdd8 25%, #87bdd8 37.5%, #daebe8 37.5%, #daebe8 50%, #cfe0e8 50%, #cfe0e8 62.5%, #b7d7e8 62.5%, #b7d7e8 75%, #87bdd8 75%, #87bdd8 87.5%, #daebe8 87.5%, #daebe8);
        background-image: -o-linear-gradient(left, #cfe0e8, #cfe0e8 12.5%, #b7d7e8 12.5%, #b7d7e8 25%, #87bdd8 25%, #87bdd8 37.5%, #daebe8 37.5%, #daebe8 50%, #cfe0e8 50%, #cfe0e8 62.5%, #b7d7e8 62.5%, #b7d7e8 75%, #87bdd8 75%, #87bdd8 87.5%, #daebe8 87.5%, #daebe8);
        background-image: linear-gradient(to right, #cfe0e8, #cfe0e8 12.5%, #b7d7e8 12.5%, #b7d7e8 25%, #87bdd8 25%, #87bdd8 37.5%, #daebe8 37.5%, #daebe8 50%, #cfe0e8 50%, #cfe0e8 62.5%, #b7d7e8 62.5%, #b7d7e8 75%, #87bdd8 75%, #87bdd8 87.5%, #daebe8 87.5%, #daebe8);
      }

      .logout-button {
        color: white;
        background-color: var(--paper-indigo-500);
        margin-top: 5%;
        margin-left: 37%;
      }
      .logout-button:hover {
        background-color: var(--paper-indigo-100);
        margin-top: 5%;
        margin-left: 37%;
      }
    </style>
  </template>
</dom-module>
