<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">


<link rel="import" href="shared-styles.html">

<dom-module id="user-home">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .card {
        width: 60%;
      }
      iron-list {
        padding-bottom: 16px;
        --iron-list-items-container: {
          margin: auto;
        };
      }
      .accountItem {
        @apply --layout-horizontal;
        margin: 16px 16px 0 16px;
        padding: 20px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid #ddd;
      }
      .logo {
        height: 60px;
        width: 60px;
        border-radius: 20px;
        box-sizing: border-box;
        background-color: #FFFF;
      }
      .pad {
        padding: 0 16px;
        @apply --layout-flex;
        @apply --layout-vertical;
      }
      .primary {
        font-size: 16px;
        font-weight: bold;
      }
      address {
        font-size: 14px;
        margin: 10px 0;
      }
      .card-header {
        display: inline-block;
      }
      h1 {
        padding-left: 25px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 36px;
        color: black;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    </style>

    <brum-global-variable key="apiURL" value="{{apiURL}}"></brum-global-variable>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <iron-ajax
      auto
      url='[[apiURL]]accounts?user_email="{{session.email}}"'
      method="get"
      headers$='{"authorization": "Bearer {{session.token}}"}'
      last-response="{{accounts}}"
      content-type="application/json"
      handle-as="json">
    </iron-ajax>

    <brum-global-variable key="currentAccount" value="{{currentAccount}}"></brum-global-variable>

    <iron-localstorage name="session-token"
      value="{{session}}"
    ></iron-localstorage>

    <div class="card">
      <div class="card-header">
        <h1 class="card-header">Cuentas</h1>
      </div>
      <iron-list id="list" items="[[accounts]]" as="account" scroll-target="document">
        <template>
          <div>
            <div class="accountItem" tabindex$="[[tabIndex]]" on-click="send">
              <img class="logo" sizing="contain" src="https://s3.us-east-2.amazonaws.com/techu-rs/logo3.png">
              <div class="pad">
                <div class="primary">[[account.iban]]</div>
                <address>
                  [[account.balance]]
                </address>
              </div>
            </div>
          </div>
        </template>
      </iron-list>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserHome extends Polymer.Element {
      static get is() { return 'user-home'; }
      static get properties() {
        return {
          session: {
            type: Object
          },
          currentAccount: {
            type: Number
          }
        };
      }

      send(e) {
        this.currentAccount = e.model.account.id;
        this.set("route.path", "/account-movs")
      }
    }

    window.customElements.define(UserHome.is, UserHome);
  </script>
</dom-module>
